BOLD.Console/Connected Services/SoapService/SoapService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SoapService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.etracker.cc/BulkSMS/SoapService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.etracker.cc/BulkSMS/SoapService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MES.API.Services.Contracts" />
      <xsd:import schemaLocation="http://www.etracker.cc/BulkSMS/SoapService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISoapService_Send_InputMessage">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:message name="ISoapService_Send_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendResponse" />
  </wsdl:message>
  <wsdl:message name="ISoapService_Send_MESAPIFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/MES.API.Services.Contracts" name="detail" element="q1:MESAPIFault" />
  </wsdl:message>
  <wsdl:message name="ISoapService_AsyncSend_InputMessage">
    <wsdl:part name="parameters" element="tns:AsyncSend" />
  </wsdl:message>
  <wsdl:message name="ISoapService_AsyncSend_OutputMessage">
    <wsdl:part name="parameters" element="tns:AsyncSendResponse" />
  </wsdl:message>
  <wsdl:portType name="ISoapService">
    <wsdl:operation name="Send">
      <wsdl:input wsaw:Action="http://tempuri.org/ISoapService/Send" message="tns:ISoapService_Send_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISoapService/SendResponse" message="tns:ISoapService_Send_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISoapService/SendMESAPIFaultFault" name="MESAPIFaultFault" message="tns:ISoapService_Send_MESAPIFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AsyncSend">
      <wsdl:input wsaw:Action="http://tempuri.org/ISoapService/AsyncSend" message="tns:ISoapService_AsyncSend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISoapService/AsyncSendResponse" message="tns:ISoapService_AsyncSend_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicHttpService" type="tns:ISoapService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Send">
      <soap:operation soapAction="http://tempuri.org/ISoapService/Send" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MESAPIFaultFault">
        <soap:fault use="literal" name="MESAPIFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AsyncSend">
      <soap:operation soapAction="http://tempuri.org/ISoapService/AsyncSend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoapService">
    <wsdl:port name="basicHttpService" binding="tns:basicHttpService">
      <soap:address location="http://www.etracker.cc/BulkSMS/SoapService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>