BOLD.Console/Connected Services/SoapService/SoapService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.etracker.cc/BulkSMS/SoapService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MES.API.Services.Contracts" />
  <xs:element name="Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MES.API.Services.Contracts" minOccurs="0" name="parameters" nillable="true" type="q1:SoapParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsyncSend">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MES.API.Services.Contracts" minOccurs="0" name="parameters" nillable="true" type="q2:SoapParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsyncSendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AsyncSendResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>